



$navbar-brand:black ;
header {
    color: $navbar-brand;
    background-color:white;
    line-height: 1.5; 
    font-size: 16px;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    width: 100%;
    height: 80px;
    
    

}
.navbar{
    display: flex;
    justify-content: space-between;
    align-items: center;
 }
 .navbar-actions > ul{
    color: black;
   position: flex;  
 }
 .navbar-actions >ul >li {
    display: inline-block;
    padding: 0 24px;
    transition: 0.2s;
 } 
 

.navbar-brand{
   
   font-weight: 900;
   margin-left: 20px;
   // .nav-brand{
      // color: aliceblue;
      // background-color: #3e64ff;
      // width: 40px;
      // height: 40px;

      // border-radius: 50%;
     
      
   // }
}


 .navbar-item > a{
    text-decoration: none;
    color:black;
    position: relative;
 }
 
 .navbar-item:hover .navbar-line{
    position:absolute;
    height: 2px;
    width: 100%;
    transform: scale(1.2);
    background-color: #3e64ff;
    transition: all .5s ease;
    
 }
.navbar-icon{

   width: 28px;
   height: 28px;
   color: black;
   margin-right: 20px;
 }

@media (min-width: 1024px) {
   .navbar-icon{
      display: none;
   }
   .navbar-actions::after{
      display: block;
   }
   
}
@media (max-width: 1024px) {
   .navbar-actions{
      display: none;
   }
   .navbar-brand{
      padding: 0 20px;
      margin: 0 30px;
      
   }
   
   
   
}


   
   



 