h2{
    align-items: center;
    position: relative;
}
.container{
    .home-wapper{
        padding: 0 100px;
        margin: 100px;
        width: 50%;
        height: 50%;
        position: absolute;
    }
}