#footer{
    
    background-color: black;
    padding-top: 3rem;
    padding-bottom: 3rem;
    .footer-wrapper{
        display: flex;
        justify-content: space-between;
    }
}
.container{
    max-width: 1440px;
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    padding-left: 3rem;
    padding-right: 3rem;

}
h4,p{
    color: #a9afc3;

}
    
.footer-wrapper{
    grid-template-columns: 2fr repeat(3,1fr);
    justify-items: center;
    gap: 2rem;
    ul{

            
       a{
        line-height: 2.5;
        font-size: 0.9rem;
        opacity: 0.8;
        font-weight: 700;
        color: #a9afc3;
            
       }
    }
}
.sub-footer{
    align-items: center;
    justify-content: center;
    display: flex;
}





  