#hireme{
    padding: 7rem 0;
    position: relative;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    display: flex;
    align-items: center;
    justify-content: center;

    .overlay{
        height: 100%;
        position: absolute;
        z-index: 2;
        left: 50%;
        top: 50%;
        transform: translate(-50%, -50%);
        background: #3e64ff;
        opacity: 0.7;
        width: 100%;
    }
    
    .content{
        position: relative;
        z-index: 3;
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        gap: 15px;
        max-width: 600px;
        .heading{
            text-align: center;
            color:white;
            line-height: 1.5;
            font-size: 40px;
            font-weight: 900;
            span{
                color:#a0f669;
            }
        .slogan{
            margin-bottom: 0;    
        }
    }
    
    }
    .btn{
        text-align: center;
        display: inline-block;
        background-color: #3e64ff;
        color: #fff;
        padding: 0.8rem 1.5rem;
        box-shadow: 0px 24px 36px -11px rgb(0 0 0 / 9%);
        font-size: 12px;
        text-transform: uppercase;
        letter-spacing: 2px;
        font-weight: 600;
        text-transform: uppercase;
        cursor: pointer;
        transition: all 0.4s ease;
        border-radius: 40px;
    }
}